header {
	color: #fff;
	height: 112px;
	width: 100%;
	line-height: 112px;
	position: fixed;
	z-index: 100;
}

header a.logo {
	float: left;
}

header nav {
	float: right;
	font-weight: bold;
}

header nav li {
    padding-left: 30px;
}

header nav ul li a {
	color: #fff;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

header nav ul li a:hover, header nav ul li a:focus {
	color: #e74c3c;
	text-decoration: none;
}

/* Slider Section */

.slider, .slider ul.slider-carousel, .slider ul.slider-carousel li {
	height: 600px;
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #000;
}

.slider ul.slider-carousel li h1 {
	margin-top: 150px;
	margin-bottom: 30px;
	color: #fff;
}

.slider ul.slider-carousel li p {
	margin-bottom: 50px;
}

.slider ul.slider-carousel li a {
	padding: 10px 50px;
	margin-right: 30px;
	color: #fff;
	font-weight: bold;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

.slider ul.slider-carousel li a:last child {
	margin-right: 0px
}

.img-1 {
	background-image: url(../images/slider/slider-1.jpg);
	background-size: auto 100%;
	background-position: center center;
}

.img-2 {
	background-image: url(../images/slider/day-bg.jpg);
	background-size: auto 100%;
	background-position: center center;
}

.img-3 {
	background-image: url(../images/slider/night-bg.jpg);
	background-size: auto 100%;
	background-position: center center;
}

.slider ul.slider-carousel li a.cta-1:hover {
   background-color: #e78479;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

.slider ul.slider-carousel li a.cta-2:hover {
   background-color: #81abd5;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

.slider ul.sliderpager li {
   padding: 0 3px;
   height: 28px;
   line-height: 28px;
   border: solid red 1px;
}

.slider ul.sliderpager li a {
    color: #34495e;
    border: solid blue 1px;
}

.slider ul.sliderpager li.selected a {
    color: #e74c3c;
    border: solid green 1px;
}

/* Services Section */

.services {
	text-align: center;
}

.services .services-content i {
	font-size: 32px;
	color: #555;
}

.services-header, .portfolio-header, .team-header, .testimonials-header, .testimonials-header , .contact-header {
	margin-bottom: 42px;
	text-align: center;
}

/* Portfolio */

.portfolio {
    background-color: #eca331;
    color: #fff;
    background-image: url(../images/portfolio/portfolio-bg.jpg);
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center center;
}

.portfolio .inner-content {
	position: relative;
	width: 100%;
	height: 100%;
	border: solid #fff 1px;
}

.portfolio .inner-content img {
	width: 100%;
	height: 100%;
}

.portfolio .inner-content .overlay-content {
	position: absolute;
	top: 100%;
	left: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	color: #fff;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.portfolio .inner-content .overlay-content h3, .portfolio .inner-content .overlay-content p {
	color: #fff;
}

.portfolio .inner-content .overlay-content h3 {
	padding-top: 20%;
	color: #e74c3c;
}

.portfolio .inner-content:hover .overlay-content {
    top: 0;
}

.portfolio .inner-content .overlay-content p a {
	color: #2d82d8;
	font-weight: bold;
}

.portfolio .portfolio-nav {
    text-align: center;
    margin-top: 30px;
}

.portfolio .portfolio-nav span {
	cursor: pointer;
	margin-right: 10px;
	padding: 5px 10px 6px 10px;
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	background-color: #333;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
}

.portfolio .portfolio-nav span a {
	color: #fff;
}

.portfolio .portfolio-nav span:hover {
	background-color: #e74c3c;
}

/* Team */

.team {
    background-color: #fff;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.team .inner-content {
	position: relative;
	width: 100%;
	height: 100%;
	border: solid #fff 1px;
}

.team .inner-content img {
	width: 100%;
	height: 100%;
}

.team .inner-content .overlay-content {
	position: absolute;
	top: 100%;
	left: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}


.team .inner-content:hover .overlay-content {
    top: 0;
}


.team .team-nav {
    text-align: center;
    margin-top: 30px;
}

.team .team-nav span {
	cursor: pointer;
	margin-right: 10px;
	padding: 5px 10px 6px 10px;
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	background-color: #333;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
}

.team .team-nav span a {
	color: #fff;
}

.team .team-nav span:hover {
	background-color: #e74c3c;
}

.team-carousel .inner-content p.name {
	padding-top: 15%;
}

.team-carousel .inner-content p.description{
	padding: 0 15px;
}

ul.member-social-links li {
	color: #fff;
	font-size: 14px;
   }

ul.member-social-links li i {
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin: 0 10px;
	border-radius: 5px;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
}

ul.member-social-links li a {
	color: #fff;
}

ul.member-social-links li .fa-facebook {
    background-color: #3b5998;
}

ul.member-social-links li .fa-twitter {
    background-color: #00aced;
}

ul.member-social-links li .fa-linkedin {
    background-color: #007bb6;
}

/* Testimonials */

.testimonials {
	background-color: #1c2731;
	background-image: url(../images/testi/testi-bg.jpg);
	background-attachment: fixed;
	background-size: auto 100%;
	background-position: center center;
	color: #fff;
}

.testimonial-carousel li {
    text-align: center;
    margin: 0 200px;
}

.testimonial-carousel img {
    width: 150px;
    height: 150px;
	border-radius: 5px;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   margin-bottom: 30px;
}

.testimonial-carousel li p.name {
    color: #ef4c3c;
    font-weight: bold; 
}

.testimonial-carousel li p.position {
    margin-bottom: 30px;
    font-weight: bold; 
}

blockquote {
	position: relative;
	border: none;
	line-height: 1.5em;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding: 0 0;
}

blockquote:before {
    position: absolute;
    content: "\f10d";
    top: -5pxpx;
    left: -20px;
    font-family: fontAwesome;
}

blockquote:after {
    position: absolute;
    content: "\f10e";
    bottom: -5px;
    right: -20px;
    font-family: fontAwesome;
}

.testipage li {
    margin-right: 5px;
}

.testipage li:last-child{
    margin-right: 0;
}

.testipage  a{
    color: #fff;
}

.testipage a.selected{
    color: #ef743c;
}

/* Blog */

.blog span.date {
   color: #333;
}

.blog h3 a:hover {
   color: #e74c3c;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

/* Contact */

.contact {
	background-color: #39787c;
    background-image: url(../images/contact/contact-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: auto 100%;
	color: #fff;
}

form.contact-form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

input:not([type=submit]), textarea {
	width: 100%;
	margin-bottom: 40px;
	color: #777;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset;
	border: none;
	background-color: rgba(255, 255, 255, 0.9);
}

input:not([type=submit]){
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
}

textarea {
	height: 160px;
	padding-top: 20px;
	padding-left: 20px;
}

#submit {
    padding: 10px 20px;
    color: #fff;
    background-color: #ef743c;
    font-weight: bold;
    border: none;
}

/* Footer */

footer {
	margin-top: 56px;
}

footer h1 {
	padding-bottom: 28px;
}

footer p i {
	color: #2d82db;
}

footer p span {
	padding-left: 15px;
	font-weight: bold;
}

footer p.about {
	padding-left: 15px;
	font-weight: bold;
}

form.update-form input:not([type=submit]), textarea {
	width: 100%;
	margin-bottom: 40px;
	color: #777;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset;
	border: none;
	background-color: rgba(255, 255, 255, 0.9);
}

#take-email {
	margin-bottom: 20px;
}

#submit-button {
	background-color: #ef743c;
	color: #fff;
	border: none;
	padding: 0 30px;
	font-weight: bold;
	height: 40px;
	line-height: 30px;
}

footer .footer-social-links li {
	padding: 0 10px;
	font-size:  28px;
}


footer .footer-social-links li a {
	color: #fff;
}

footer .footer-social-links li a i.fa-facebook {
    color: #3b5998;
}

footer .footer-social-links li a i.fa-twitter {
    color: #00aced;
}

footer .footer-social-links li a i.fa-linkedin {
    color: #007bb6;
}

footer .footer-social-links li a i.fa-dribbble {
    color: #3b5998;
}

footer .footer-social-links li a i.fa-youtube {
    color: #bb0000;
}

.copyright {
	text-align: center;
	color: #fff;
	background-color: #333;
	height: 42px;
	line-height: 42px;
	margin-top: 56px;
}

.copyright p {
	margin: 0 0;
}

footer p span.primary {
	padding-left: 0;
}





























